<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="user" value=""/>
    <add key="pass" value=""/>
    <add key="MailFolderPath" value=""/>
    <add key="TemplateFolderPath" value=""/>
    <add key="interval" value="15"/>
    <add key="SubjectTemplateFileNameSubfix" value=".subject.txt"/>
    <add key="BodyTemplateFileNameSubfix" value=".body.html"/>
    <add key="EmailKey" value="$user"/>
    <add key="PurposeKey" value="$purpose"/>
    <add key="ProcessedFolderName" value="processed"/>
  </appSettings>
</configuration>