<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--    
    <add key="user" value=""/>
    <add key="pass" value=""/>
    <add key="interval" value="15"/>
    <add key="MailFolderPath" value=""/>
    <add key="SubjectTemplateFileNameSubfix" value=".subject.txt"/>
    <add key="BodyTemplateFileNameSubfix" value=".body.html"/>
    <add key="EmailKey" value="$user"/>
    <add key="PurposeKey" value="$purpose"/>
    <add key="ProcessedFolderName" value="processed"/>
    <add key="TemplateFolder" value="template"/>
-->
    <add key="user" value="dieukhientuxa.top@gmail.com"/>
    <add key="pass" value="dieukhientuxa183"/>
    <add key="interval" value="15"/>
    <add key="MailFolderPath" value="c:\ESP8266_SERVER\emails"/>
    <add key="SubjectTemplateFileNameSubfix" value=".subject.txt"/>
    <add key="BodyTemplateFileNameSubfix" value=".body.html"/>
    <add key="EmailKey" value="$user"/>
    <add key="PurposeKey" value="$purpose"/>
    <add key="ProcessedFolderName" value="processed"/>
    <add key="TemplateFolder" value="template"/>
  </appSettings>
</configuration>