<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="huypq.GmailSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <huypq.GmailSender.Properties.Settings>
            <setting name="GmailAccount" serializeAs="String">
                <value>quanlybanhang.sys@gmail.com</value>
            </setting>
            <setting name="MailFolderPath" serializeAs="String">
                <value>C:\emails</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="MaxMessage" serializeAs="String">
                <value>50</value>
            </setting>
        </huypq.GmailSender.Properties.Settings>
    </userSettings>
</configuration>